*{
  text-decoration: none;
}

body{
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  list-style: none;
}

ul,p,h3{
  padding: 0;
  margin: 0;
  list-style: none;
}

body, textarea, select, input, button {
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

a{
  color: black;
}


.base-border{
  border: 1px solid rgb(202, 197, 197);
}



